Bigm ihdb <bigm.ihdb.internet@meb.gov.tr>
RE: mtegmsmm.meb.gov.tr - PHP sürüm yükseltmesi talebi
Kime 'Umut AÇIKGÖZ
Bilgi internet@meb.gov.tr
Evet php 8.1 yapılmıştı. Web.config dosyasından ilgili satırlar silindiği için eski versiyona dönmüş.
<handlers>
<remove name="php74_via_FastCGI" />
<remove name="php_via_FastCGI" />
</handlers
Web.config dosyasını yeniden yüklediğinizde yukarıdaki satırları eklemeniz gerekir.